.card {
    /* border: 2px solid black; */
    width: fit-content;
    width: 390px;
    height: 332px;
    margin: auto;
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* overflow: auto; */
}

.card:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.firstCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.firstCard img {
    width: 50%;
    height: 100%;
}

